body {
  color: rgba(0, 0, 0, 0.87);
  background: #4F5042 none repeat scroll 0% 0%;

  font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 14px;
}

.navbar-inverse {
  background: #042948;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover {
  background: rgba(255, 255, 255, 0.08) none repeat scroll 0% 0%;
}
