<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>whiskee</title>
	<link rel="stylesheet" href="/static/semantic/semantic.min.css">

  <!-- templates -->
  <script type="text/template" id="root-tpl">
    <div id="sidebar"></div>
    <nav id="nav"></nav>
  	<div id="main" class="main wrapper"></div>

    <div id="modals-area"></div>
    <div class="ui modal" id="modal"></div>
  </script>
  <script type="text/template" id="views-sidebar">
    <a href="#" class="profile item">
  		<% if (auth) { %>
      <img class="ui small centered circular image" src="<%= picture %>" />

      <strong><%= name %></strong><br />
      <small>joined <%= moment(created).fromNow() %></small>
      <% } %>
    </a>

    <a class="item"><i class="ui paw icon"></i> Profile</a>
    <a class="item"><i class="ui send icon"></i> Posts</a>
    <a class="item"><i class="ui users icon"></i> Friends</a>
    <a class="item"><i class="ui privacy icon"></i> Privacy</a>
    <a class="item"><i class="ui settings icon"></i> Settings</a>
  </script>
  <script type="text/template" id="nav-tpl">
    <a href="#" title="Profile" class="header item">whiskee</a>
		<a href="#" title="Messages" class="item"><i class="ui comment icon"></i></a>
		<a href="#users" title="Friends" class="item"><i class="ui users icon"></i></a>

    <div class="ui search item">
        <div class="ui icon input">
          <input class="prompt" placeholder="Find friends" type="text">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>

	  <div class="right menu">
		<% if (auth) { %>
      <a title="Privacy" class="item"><i class="ui privacy icon"></i></a>
      <a title="Settings" class="item"><i class="ui settings icon"></i></a>
			<a class="ui item logout">
  			<strong><i class="ui sign out icon"></i> Logout</strong>
			</a>
		<% } else { %>
			<a class="ui item login">
        <strong><i class="ui sign in icon"></i> Login</strong>
      </a>
		<% } %>
    </div>
  </script>
  <script type="text/template" id="home-tpl">
    <div id="form"></div>
    <div id="feed"></div>
  </script>
  <script type="text/template" id="whiskey-form-tpl">
    <div class="ui segment">
      <h4>Share your experience</h4>
    	<div class="ui inverted dimmer">
    		<div class="ui indeterminate text loader">Sharing Post</div>
    	</div>

    	<form class="ui form">
    		<div class="field">
    			<div class="ui fluid search selection dropdown">
    				<input name="whiskey" type="hidden">
    				<i class="dropdown icon"></i>
    				<div class="default text">Select Whiskey</div>
    				<div class="menu">
    					<% _.each(whiskeys, function(whiskey) { %>
    					<div class="item" data-value="<%= whiskey.id %>"><%= whiskey.distillery %> <%= whiskey.name %> <%= whiskey.age %>yr</div>
    					<% }); %>
    				</div>
    			</div>

          <small class="muted text">Your whiskey is not yet in this list? You can add it <a id="action-add-whiskey" href="#">here</a>.</small>
    		</div>

    		<div class="field">
    			<textarea rows=3 name="body" placeholder="Share your experience"></textarea>
    		</div>

    		<div class="inline fields">
    			<label for="fruit">Visibility:</label>
    			<div class="field">
    				<div class="ui radio checkbox">
    					<input class="hidden" tabindex="0" type="radio" name="security" value="public">
    					<label><i class="ui public icon"></i> Public</label>
    				</div>
    			</div>
    			<div class="field">
    				<div class="ui radio checkbox">
    					<input class="hidden" tabindex="0" type="radio" name="security" value="friends" checked>
    					<label><i class="ui friends icon"></i> Friends</label>
    				</div>
    			</div>
    			<div class="field">
    				<div class="ui radio checkbox">
    					<input class="hidden" tabindex="0" type="radio" name="security" value="private">
    					<label><i class="ui private icon"></i> Private</label>
    				</div>
    			</div>
    		</div>

    		<button class="ui blue button" type="submit">
          <i class="send icon"></i>
          Share
        </button>
    	</form>
    </div>
  </script>

  <script type="text/template" id="views-home-add-whiskey">
    <div class="content">
      <h4>Add Whiskey</h4>

      <div class="description">
    	<form class="ui form">

    		<div class="field">
          <label>Image</label>
          <input type="file" name="picture" multiple="multiple" />
        </div>

    		<div class="field">
          <label>Distillery</label>
          <input name="distillery" placeholder="Distillery" type="text">
    		</div>

    		<div class="field">
          <label>Name</label>
          <input name="name" placeholder="Name" type="text">
    		</div>

    		<div class="field">
          <label>Type</label>
    			<div class="ui fluid selection dropdown">
    				<input name="type" type="hidden">
    				<i class="dropdown icon"></i>
    				<div class="default text">Select Whiskey Type</div>
    				<div class="menu">
    					<div class="item" data-value="Single Malt">Single Malt</div>
    				</div>
    			</div>
    		</div>

        <div class="three fields">
      		<div class="field">
            <label>Age</label>
            <div class="ui right labeled input">
              <input name="age" placeholder="Age" type="number">
              <div class="ui basic label">yr</div>
      		  </div>
      		</div>

      		<div class="field">
            <label>ABV</label>
            <div class="ui right labeled input">
              <input name="abv" placeholder="ABV" type="number">
              <div class="ui basic label">%</div>
            </div>
      		</div>

      		<div class="field">
            <label>Size</label>
            <div class="ui right labeled input">
              <input name="size" placeholder="Size" type="number">
              <div class="ui basic label">l</div>
      		  </div>
      		</div>
        </div>
      </form>
      </div>

    </div>
    <div class="actions">
      <div class="ui deny button"> Cancel </div>
      <div class="ui approve blue button">
        <i class="save icon"></i>
        Save
      </div>
    </div>
  </script>

  <script type="text/template" id="feed-tpl">
    <div class="ui segment">
      <h4>Your news feed</h4>
      <div id="feed-items" class="ui relaxed items"></div>
    </div>
  </script>
  <script type="text/template" id="feed-item-tpl">
    <div class="ui small image">
    	<img src="<%= whiskey.thumb %>">
    </div>

    <div class="content">
    	<div class="meta">
    		<img class="ui avatar image" src="<%= user.picture %>" />
    		<strong><a href="/u/<%= user.id %>"><%= user.name %></a> created a post</strong>
    		&emsp;<%= moment(date).fromNow() %>
    		&emsp;<i class="ui <%= security %> icon"></i> <%= security %>
    	</div>
    	<div class="header">
    		<a><%= whiskey.distillery %> <%= whiskey.name %> <%= whiskey.age %>yr</a>,
    		<%= whiskey.type %>,
    		<%= whiskey.abv %>%,
    		<%= whiskey.size %>l
    	</div>
    	<div class="description">
    		<%= body %>
    	</div>

    	<div class="meta">
    		<a class="action-delete"><i class="ui trash icon"></i> Delete</a>
    	</div>
    </div>
  </script>
  <script type="text/template" id="single-user-tpl">
  	<div class="ui tiny image">
  		<img src="<%= picture %>">
  	</div>
  	<div class="content">
  		<a class="header"><%= name %></a>
  		<div class="meta">
  			<span class="date">joined <%= moment(created).fromNow() %></span>
  		</div>
  		<div class="meta">
  			<a class="action-friend"><i class="ui heart icon"></i> Add Friend</a>
  		</div>
  	</div>
  </script>
  <script type="text/template" id="users-tpl">
    <div class="ui segment">
      <h4>Friend Requests</h4>
      <div class="centered">No new requests.</div>
    </div>

    <div class="ui segment">
      <h4>Friends</h4>
    	<div id="child-view" class="ui items"></div>
    </div>
  </script>
</head>

<body>
  <!-- libraries -->
  <script src="/app/lib/auth0.js"></script>
  <script src="/app/lib/moment.js"></script>
  <script src="/app/require.js" data-main="app/main"></script>
</body>
</html>
