<div class="panel panel-default">
  <div class="panel-body">
    <p><strong>Friend requests</strong></p>
    <p>No new requests.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><strong>Users you might know</strong></p>

    <% _.each(users, function(user){ %>
    <div class="media">
      <div class="media-left">
        <img class="img-circle media-object" style="width: 64px" src="<%= user.picture %>">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="#"><%- user.name %></a></h4>
        <p>joined <%= moment(user.created).fromNow() %>.</p>
        <p>
          <a href="#" class="btn btn-sm btn-default">Add Friend</a>
        </p>
      </div>
    </div>
    <% }) %>
  </div>
</div>
