<div class="media-left">
  <img class="img-circle media-object" style="width: 48px" src="<%= user.picture %>">
</div>
<div class="media-body">
  <p style="margin-bottom: 0">
    <strong><a href="#"><%- user.name %></a></strong>
    <span class="text-muted pull-right">
      <%- moment(date).fromNow() %>
      <% if (security.isAllowed('post:edit', model())) { %>
      &ensp;<a class="edit" href=""><i class="fa fa-pencil"></i></a>
      <% } %>

      <% if (security.isAllowed('post:delete', model())) { %>
      &ensp;<a class="delete" href=""><i class="fa fa-trash"></i></a>
      <% } %>
    </span>
  </p>
  <p><%- body %></p>
  <p class="media-heading">
    <a href="#"><%- whiskey.distillery %> <%- whiskey.name %> <%- whiskey.age %>yr</a>,
    <%- whiskey.type %>,
    <%- whiskey.abv %>%,
    <%- whiskey.size %>l
  </p>
  <img class="img-thumbnail" src="<%= whiskey.thumb %>">
</div>
