{{ define "header" }}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>sprungknoedl</title>

		<link rel='stylesheet' href='/static/css/pure.css'>
		<link rel='stylesheet' href='/static/css/grid.css'>
		<link rel='stylesheet' href='/static/css/sprungknoedl.css'>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.raty.js"></script>
	</head>

	<body>
		<nav class='pure-menu pure-menu-horizontal'>
			<span class='pure-menu-heading'>whiskee</span>
			<ul class='pure-menu-list'>
				<li class='pure-menu-item'><a class='pure-menu-link' href='/'>Home</a></li>
				<li class='pure-menu-item'><a class='pure-menu-link' href='/whisky'>Whiskies</a></li>
				<li class='pure-menu-item'><a class='pure-menu-link' href='/user'>People</a></li>
				{{ if .User.Authenticated }}
				<li class='pure-menu-item'><a class='pure-menu-link' href='/auth/logout'>Logout</a></li>
				{{ else }}
				<li class='pure-menu-item'><a class='pure-menu-link' href='#' onclick='signin()'>Login</a></li>
				{{ end }}
			</ul>
		</nav>

		<div class='container'>
{{ end }}

{{ define "footer" }}
		</div> <!-- / container -->

		<script src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>
		<script type="text/javascript">
			var lock = new Auth0Lock('pH4lp8obYaYmu57LpWuDBQAqBx6469N9', 'whiskee.eu.auth0.com');

			function signin() {
				lock.show({
					callbackURL: window.location.origin + '/auth/callback',
					responseType: 'code',
					authParams: {scope: 'openid profile' }
				});
			}
		</script>
	</body>
</html>
{{ end }}
