{{ template "head.html" }}
{{ template "sidebar.html" .principal }}
{{ template "whiskey-form.html" }}

<div class="article">
	<div class="ui main container">

		<form id="add-post-form" class="ui form" action="/p" method="post">
			<div class="fields">
				<div class="fifteen wide field">
					<div class="ui fluid search selection dropdown">
						<input name="whiskey" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">Select Whiskey</div>
						<div class="menu">
							{{ range .whiskeys }}
							<div class="item" data-value="{{ .ID }}">{{ .Distillery }} {{ .Name }} {{ .Age }}yr</div>
							{{ end }}
						</div>
					</div>
				</div>

				<div class="one wide field">
					<a id="add-whiskey-btn" class="ui icon button"><i class="ui plus icon"></i></a>
				</div>
			</div>

			<div class="field">
				<textarea rows=3 name="body" placeholder="Share your experience"></textarea>
			</div>
			
			<button class="ui button" type="submit"><i class="ui world icon"></i> Share</button>

			<div class="ui error message">
				<ul class="list"></ul>
			</div>
		</form>

		<h4 class="ui horizontal divider header">
			<i class="tag icon"></i>
			News Feed
		</h4>

		<div class="ui relaxed items">
			{{ range .posts }}
			<div class="item">
				<div class="ui small image">
					<img src="/assets/img/{{ .Whiskey.ID }}-thumb.jpg">
				</div>
				<div class="content">
					<div class="meta">
						<img class="ui avatar image" src="http://www.gravatar.com/avatar/{{ .User.Gravatar }}" />
						<strong><a href="/u/{{ .User.ID }}">{{ .User.EMail }}</a> created a post.</strong>
						&emsp;{{ .Date | humanizeTime }}
						&emsp;<i class="ui {{ .Security }} icon"></i> {{ .Security }}
					</div>
					<div class="header">
						<a>{{ .Whiskey.Distillery }} {{ .Whiskey.Name }} {{ .Whiskey.Age }}yr</a>,
						{{ .Whiskey.Type }},
						{{ .Whiskey.ABV }}%,
						{{ .Whiskey.Size }}l
					</div>
					<div class="description">
						{{ .Body }}
					</div>

					<div class="meta">
						<a><i class="ui comment icon"></i> Comment</a>
						<a href="/p/{{ .ID }}/like"><i class="ui heart icon"></i> Like</a>
						<a href="/p/{{ .ID }}/delete"><i class="ui trash icon"></i> Delete</a>
					</div>

					<div class="ui horizontal divider">Comments</div>

					<div class="extra">
						<div class="ui comments">
							<div class="comment">
								<a class="avatar"> <img src="http://www.gravatar.com/avatar/{{ .User.Gravatar }}"> </a>
								<div class="content">
									<a class="author">Matt</a>
									<div class="metadata"> <span class="date">{{ .Date | humanizeTime }}</span> </div>
									<div class="text">
										How artistic!
									</div>
								</div>
							</div>

							<form class="ui reply form">
								<div class="small field">
									<input placeholder="Press enter to comment."></input>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>


			{{ end }}

		</div> <!-- /items -->

		{{ template "scripts.html" }}
{{ template "footer.html" }}
