<!DOCTYPE html>
<html lang="en">
	{{ template "head.html" }}

	<style>
	body { padding-top: 2rem; }
	</style>
  <body>
		{{ template "whiskey-form.html" }}

		<div class="ui container">
			<div class="ui divided grid">
				<div class="three wide column">
					<div class="ui fluid vertical text menu">
						<div class="item">
							<img class="ui avatar image" src="http://www.gravatar.com/avatar/{{ .principal.Gravatar }}" />
							<span>{{ .principal.EMail }}</span>
						</div>

						<div class="item">
							<div class="header">Favorites</div>
							<div class="menu">
								<a class="active item" href="/feed">News Feed</a></li>
							</div>
						</div>

						<div class="item">
							<div class="header">Users</div>
							<div class="menu">
								<a class="item" href="/users">All</a></li>
							</div>
						</div>
					</div>
				</div>

				<div class="ten wide column">
					<form id="add-post-form" class="ui form" action="/p" method="post">
						<div class="fields">
							<div class="fifteen wide field">
								<div class="ui fluid search selection dropdown">
									<input name="whiskey" type="hidden">
									<i class="dropdown icon"></i>
									<div class="default text">Select Whiskey</div>
									<div class="menu">
										{{ range .whiskeys }}
										<div class="item" data-value="{{ .ID }}">{{ .Distillery }} {{ .Name }} {{ .Age }}yr</div>
										{{ end }}
									</div>
								</div>
							</div>

							<div class="one wide field">
								<a id="add-whiskey-btn" class="ui icon button"><i class="ui plus icon"></i></a>
							</div>
						</div>

						<div class="field">
							<textarea rows=3 name="body" placeholder="Share your experience"></textarea>
						</div>
						
						<button class="ui button" type="submit"><i class="ui world icon"></i> Share</button>

						<div class="ui error message">
							<ul class="list"></ul>
						</div>
					</form>

					<h4 class="ui horizontal divider header">
						<i class="tag icon"></i>
						News Feed
					</h4>

					<div class="ui feed">
						{{ range .posts }}
						<div class="event">
							<div class="label">
								<img src="http://www.gravatar.com/avatar/{{ .User.Gravatar }}" />
							</div>
							<div class="content">
								<div class="summary">
									<a class="user" href="/u/{{ .User.ID }}">{{ .User.EMail }}</a> created a post.
									<div class="date">{{ .Date }}</div>
								</div>

								<div class="extra images">
									<img class="ui top aligned image" src="/assets/img/{{ .Whiskey.ID }}-thumb.jpg">
									<div style="display: inline-block">
										<div><strong><a>{{ .Whiskey.Distillery }} {{ .Whiskey.Name }} {{ .Whiskey.Age }}yr</a></strong></div>
										<div>{{ .Whiskey.Type }}</div>
										<div>{{ .Whiskey.ABV }}%, {{ .Whiskey.Size }}l</div>
									</div>
								</div>
								<div class="extra text">
									{{ .Body }}
								</div>


								<div class="meta">
									<a href="/p/{{ .ID }}/like"><i class="ui heart icon"></i> Like</a>
									<a href="/p/{{ .ID }}/delete"><i class="ui trash icon"></i> Delete</a>
								</div>
							</div>
						</div>

						{{ end }}
					</div>

				</div>
			</div>
		</div> <!-- /container -->

		{{ template "scripts.html" }}
		<script>
$('.dropdown').dropdown();

$('#add-post-form').form({
	fields: {
		whiskey: 'empty',
		body: 'empty'
	}
});

$('#add-whiskey-btn').click(function() {
		$('#whiskey-modal')
		.modal({onApprove: function() {
			$(this).find('form').submit();
    }})
		.modal('show');
})
		</script>
  </body>
</html>
