<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>whiskee</title>

		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/accordion.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/ad.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/breadcrumb.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/button.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/card.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/checkbox.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/comment.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/container.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/dimmer.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/divider.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/dropdown.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/embed.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/feed.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/flag.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/form.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/grid.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/header.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/icon.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/image.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/input.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/item.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/label.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/list.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/loader.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/menu.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/message.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/modal.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/nag.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/popup.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/progress.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/rail.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/rating.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/reset.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/reveal.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/search.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/segment.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/shape.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/sidebar.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/site.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/statistic.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/step.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/sticky.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/tab.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/table.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/transition.min.css">
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/video.min.css">

		<style>
		.full.height { display: flex; min-height: 100vh; flex-direction: column; }
		.full.height > .body { display: flex; flex: 1; }
		.full.height > .body > .toc { background-color: #1B1C1D; flex: 0 0 12em; }
		.full.height > .body > .article { flex: 1; }

		.main.container {
			padding-top: 3em;
			padding-bottom: 3em;

			margin-left: 3em !important;
			margin-right: 3em !important;
			width: auto !important;
			max-width: 960px !important;
		}

		
		i.icon.public:before {
			content:"\f0ac"
		}

		i.icon.friends:before {
			content:"\f1ae"
		}
		</style>
  </head>
  <body>
		<div class="full height">
			<div class="body">
