		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/accordion.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/api.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/checkbox.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/colorize.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/dimmer.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/dropdown.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/embed.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/form.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/modal.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/nag.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/popup.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/progress.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/rating.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/search.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/shape.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/sidebar.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/site.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/state.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/sticky.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/tab.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/transition.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/video.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/visibility.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/visit.min.js"></script>
