<div class="toc">
	<div class="ui vertical inverted sticky menu" style="left: 0px; top: 0px; width: 250px !important;">
		<div class="item">
			<img class="ui avatar image" src="http://www.gravatar.com/avatar/{{ .Gravatar }}" />
			<span>{{ .EMail }}</span>
		</div>

		<div class="item">
			<div class="header">Favorites</div>
			<div class="menu">
				<a class="item" href="/feed">News Feed</a></li>
			</div>
		</div>

		<div class="item">
			<div class="header">Users</div>
			<div class="menu">
				<a class="item" href="/users">All</a></li>
				<a class="item" href="/friends">Friends</a></li>
			</div>
		</div>
	</div>
</div>
