{{ template "head.html" }}
{{ template "sidebar.html" .principal }}

<div class="article">
	<div class="ui main container">

		<div class="ui search">
			<input class="prompt" placeholder="Common passwords..." type="text">
			<div class="results"></div>
		</div>

		<h4 class="ui horizontal divider header">
			<i class="user icon"></i>
			Users
		</h4>

		<div class="ui cards">
			{{ range .users }}
			<div class="ui card">
				<div class="content">
					<img class="right floated ui mini image" src="http://www.gravatar.com/avatar/{{ .Gravatar }}">
					<a class="header">{{ .EMail }}</a>
					<div class="meta">
						<span class="date">Joined in 2013</span>
					</div>
				</div>
				<div class="extra content">
					<a href="/friends/add/{{ .ID }}"><i class="add user icon"></i> Add Friend</a>
					<a href="/friends/del/{{ .ID }}"><i class="trash icon"></i> Remove Friend</a>
				</div>
			</div>
			{{ end }}
		</div>

	</div>
</div>

{{ template "scripts.html" }}
<script>
$(function() {
	$('.dropdown').dropdown();

	$('#add-post-form').form({
		fields: {
			whiskey: 'empty',
			body: 'empty'
		}
	});
});
</script>

{{ template "footer.html" }}
