<div id="whiskey-modal" class="ui small modal">
  <div class="header">Add Whiskey</div>
  <div class="content">
		<form class="ui form" action="/w" method="post">
			<div class="field">
				<label>Distillery</label>
				<input type="text" name="distillery">
			</div>

			<div class="field">
				<label>Name</label>
				<input type="text" name="name">
			</div>

			<div class="field">
				<label>Type</label>
				<select class="ui dropdown" name="type">
					<option>Single Malt</option>
				</select>
			</div>

			<div class="fields">
			<div class="five wide field">
				<label>Age</label>
				<div class="ui right labeled input">
					<input type="number" name="age">
					<div class="ui basic label">yr</div>
				</div>
			</div>
			<div class="five wide field">
				<label>ABV</label>
				<div class="ui right labeled input">
					<input type="number" name="abv">
					<div class="ui basic label">%</div>
				</div>
			</div>
			<div class="five wide field">
				<label>Size</label>
				<div class="ui right labeled input">
					<input type="number" name="size">
					<div class="ui basic label">Ltr.</div>
				</div>
			</div>
			</div>
		</form>
  </div>
	<div class="actions">
    <div class="ui approve button">Add</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>
